@import globals.sass

body
    background-color: #F8F8F8

h1
    font-family: $montserrat
    color: $montserrat_Color

section p
    font-family: $robot_font
    color: $montserrat_Color
section
    display: flex
    flex-direction: column
    width: 75%
    text-align: center
    align-self: center
    p
        font-size: 20px

    .box1
        flex: 1
        padding: 15px
        width: 52%
        align-self: center
        img
            height: 400px
        p
            text-align: justify
    .box2
        flex: 1
        padding: 15px
        width: 52%
        align-self: center
        p
            text-align: justify
