@import globals.sass
body
    background-color: #61caff
    font-family: $montserrat
    margin: 0
    padding: 0

.container-form
    display: flex
    border: none
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    margin: 0
    padding: 12px 35px

.container-form p
    width: 70%
    font-size: 24px
    color: $montserrat_Color

.container-form div p
    width: 100%

.container-form h1
    text-align: left
    margin-top: 4%
    margin-bottom: 0
    font-size: 32px
    color: $montserrat_Color

.container-form form
    flex-direction: column

.container-form form input
    font-family: $robot_font
    flex-direction: column
    box-sizing: border-box
    background-color: $body_bg_color
    padding: 12px 15px
    margin: 8px 0
    width: 100%
    border: none

textarea
        background-color: $body_bg_color
        border: none
        resize: none
        margin: 8px 0
        padding: 12px 15px
        width: 100%
        box-sizing: border-box

button
    box-sizing: border-box
    background-color: $montserrat_Color
    text-transform: uppercase
    border: none
    color: white
    width: 100%
    height: 3em
    font-size: 1em
    margin: 8px 0
    padding: 12px 15px
    font-family: $montserrat

button:hover
    background-color: #3CB371
    color: $montserrat_Color

// .container-social
//     display: flex
//     flex-direction: row
//
//     width: 100%
//
// .box1
//     flex: 1
//
// .box2
//     flex: 1.1
//
// .box2 .social-icons i
//         font-size: 2em
//         margin-top: 1.5%
//         padding: 20px
//         color: #FFF
