$ubuntu_font: ubuntu
$montserrat: Montserrat
$montserrat_Color: #363636
$body_bg_color: #F8F8F8
$robot_font: roboto
$nav_color: #494949
$permanent_marker: permanent marker
$rock_salt: rock salt
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Rock+Salt')
@import url('https://fonts.googleapis.com/css?family=Montserrat:700')


body
    background-color: $body_bg_color
    padding: 0
    margin: 0
    min-height: 100vh
    display: flex
    flex-direction: column


// /* Rectangle */
.container-nav
    display: flex
    // border: 1px solid #FFF
    padding-left: 100px
    padding-right: 100px
    height: 49px
    font-family: $ubuntu_font
    background: #494949

    ul
        flex: 1
        list-style: none

    li
        word-spacing: 20px
        float: right

    a
        text-decoration: none
        color: #FFF

    a:hover
        color: gray

    .active
        border-spacing: 5px
        border-bottom: #FFF solid 2px

    img
        position: relative
        top: 5px
        height: 35px
        width: 140px
.logo
    flex: 1
    // border: 1px solid #FFF

#no_w_space
    word-spacing: normal

.container-body
    display: flex
    flex-direction: column

.title-text
        font-family: $montserrat
        color: $montserrat_Color
        font-size: 43px
        padding-left: 238px


.container-header
    display: flex
    flex-direction: row
    padding-top: 20px
    font-family: $montserrat
    background: #FF7B7B
    line-height: 0
    flex-wrap: wrap

.moto

    // border: 1px solid #000
    padding-left: 13%
    flex: 5
    font-size: 60px
    color: #363636
    .p2
        font-size: 43px

.robot
    flex: 1
    text-align: right
    background: url(robot.png)


.container-employee
    display: flex
    width: 75%
    margin: 0 auto
    // padding-left: 100px
    // padding-right: 100px

    div
        font-family: $robot_font
        flex-basis: 20%
        padding: 10px
        text-align: center
        img
            border-radius: 100%
            height: 200px
            width: 200px
// 200 on img
.box1
    flex: 2

.box2
    flex: 1


.box3
    flex: 1

footer
    display: flex
    flex-direction: row
    font-family: $robot_font
    margin-top: auto
    text-align: center
    background-color: rgba(73,73,73,40%)
    color: white
    width: 100%
    .box1
        flex: 1
        padding: 15px
    .box2
        flex: 1
        padding: 15px
    .box3
        flex: 1
        padding: 15px
    i
        font-size: 20px
        padding: 5px
    a
        color: #FFF
