@import globals.sass

body
    background-color: #ffff61
    background-color: #ff6161
section
    background-image: url(../../assets/Material-design.jpg)
    background-repeat: no-repeat
    background-size: cover
    display: flex
    flex-direction: column
    width: 100%
    flex: 1
    align-self: center
    justify-content: center
    align-items: center
    a
        font-family: $ubuntu_font
        margin: 10px
        padding: 12px
        border: 1px solid #F8F8F8
        border-radius: 1%
        text-decoration: none
        color: #F8F8F8
    a:hover
        background-color: #F8F8F8
        color: $montserrat_Color

.bob
    background-color: rgba(248, 248, 248, 30%)
    display: flex
    flex-direction: column
    justify-content: center
    align-self: center
    padding: 15px
    align-items: center
    align-content: center
    text-align: center
    vertical-align: center
    height: 300px
    color: $montserrat_Color
    width: auto
    // border: 1px solid #FFF
    border-radius: 1%
    h1
        //font-family: $rock_salt
        font-family: $permanent_marker
        font-size: 62px

    h2
        font-family: $montserrat
        font-size: 24px
