@import url("https://fonts.googleapis.com/css?family=Permanent+Marker|Rock+Salt");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
body {
  background-color: #F8F8F8;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container-nav {
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  height: 49px;
  font-family: ubuntu;
  background: #494949;
}
.container-nav ul {
  flex: 1;
  list-style: none;
}
.container-nav li {
  word-spacing: 20px;
  float: right;
}
.container-nav a {
  text-decoration: none;
  color: #FFF;
}
.container-nav a:hover {
  color: gray;
}
.container-nav .active {
  border-spacing: 5px;
  border-bottom: #FFF solid 2px;
}
.container-nav img {
  position: relative;
  top: 5px;
  height: 35px;
  width: 140px;
}

.logo {
  flex: 1;
}

#no_w_space {
  word-spacing: normal;
}

.container-body {
  display: flex;
  flex-direction: column;
}

.title-text {
  font-family: Montserrat;
  color: #363636;
  font-size: 43px;
  padding-left: 238px;
}

.container-header {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  font-family: Montserrat;
  background: #FF7B7B;
  line-height: 0;
  flex-wrap: wrap;
}

.moto {
  padding-left: 13%;
  flex: 5;
  font-size: 60px;
  color: #363636;
}
.moto .p2 {
  font-size: 43px;
}

.robot {
  flex: 1;
  text-align: right;
  background: url(robot.png);
}

.container-employee {
  display: flex;
  width: 75%;
  margin: 0 auto;
}
.container-employee div {
  font-family: roboto;
  flex-basis: 20%;
  padding: 10px;
  text-align: center;
}
.container-employee div img {
  border-radius: 100%;
  height: 200px;
  width: 200px;
}

.box1 {
  flex: 2;
}

.box2 {
  flex: 1;
}

.box3 {
  flex: 1;
}

footer {
  display: flex;
  flex-direction: row;
  font-family: roboto;
  margin-top: auto;
  text-align: center;
  background-color: rgba(73, 73, 73, 0.4);
  color: white;
  width: 100%;
}
footer .box1 {
  flex: 1;
  padding: 15px;
}
footer .box2 {
  flex: 1;
  padding: 15px;
}
footer .box3 {
  flex: 1;
  padding: 15px;
}
footer i {
  font-size: 20px;
  padding: 5px;
}
footer a {
  color: #FFF;
}

body {
  background-color: #F8F8F8;
}

h1 {
  font-family: Montserrat;
  color: #363636;
}

section p {
  font-family: roboto;
  color: #363636;
}

section {
  display: flex;
  flex-direction: column;
  width: 75%;
  text-align: center;
  align-self: center;
}
section p {
  font-size: 20px;
}
section .box1 {
  flex: 1;
  padding: 15px;
  width: 52%;
  align-self: center;
}
section .box1 img {
  height: 400px;
}
section .box1 p {
  text-align: justify;
}
section .box2 {
  flex: 1;
  padding: 15px;
  width: 52%;
  align-self: center;
}
section .box2 p {
  text-align: justify;
}

/*# sourceMappingURL=about.css.map */
