@import url("https://fonts.googleapis.com/css?family=Permanent+Marker|Rock+Salt");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
body {
  background-color: #F8F8F8;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container-nav {
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  height: 49px;
  font-family: ubuntu;
  background: #494949;
}
.container-nav ul {
  flex: 1;
  list-style: none;
}
.container-nav li {
  word-spacing: 20px;
  float: right;
}
.container-nav a {
  text-decoration: none;
  color: #FFF;
}
.container-nav a:hover {
  color: gray;
}
.container-nav .active {
  border-spacing: 5px;
  border-bottom: #FFF solid 2px;
}
.container-nav img {
  position: relative;
  top: 5px;
  height: 35px;
  width: 140px;
}

.logo {
  flex: 1;
}

#no_w_space {
  word-spacing: normal;
}

.container-body {
  display: flex;
  flex-direction: column;
}

.title-text {
  font-family: Montserrat;
  color: #363636;
  font-size: 43px;
  padding-left: 238px;
}

.container-header {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  font-family: Montserrat;
  background: #FF7B7B;
  line-height: 0;
  flex-wrap: wrap;
}

.moto {
  padding-left: 13%;
  flex: 5;
  font-size: 60px;
  color: #363636;
}
.moto .p2 {
  font-size: 43px;
}

.robot {
  flex: 1;
  text-align: right;
  background: url(robot.png);
}

.container-employee {
  display: flex;
  width: 75%;
  margin: 0 auto;
}
.container-employee div {
  font-family: roboto;
  flex-basis: 20%;
  padding: 10px;
  text-align: center;
}
.container-employee div img {
  border-radius: 100%;
  height: 200px;
  width: 200px;
}

.box1 {
  flex: 2;
}

.box2 {
  flex: 1;
}

.box3 {
  flex: 1;
}

footer {
  display: flex;
  flex-direction: row;
  font-family: roboto;
  margin-top: auto;
  text-align: center;
  background-color: rgba(73, 73, 73, 0.4);
  color: white;
  width: 100%;
}
footer .box1 {
  flex: 1;
  padding: 15px;
}
footer .box2 {
  flex: 1;
  padding: 15px;
}
footer .box3 {
  flex: 1;
  padding: 15px;
}
footer i {
  font-size: 20px;
  padding: 5px;
}
footer a {
  color: #FFF;
}

body {
  background-color: #61caff;
  font-family: Montserrat;
  margin: 0;
  padding: 0;
}

.container-form {
  display: flex;
  border: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 12px 35px;
}

.container-form p {
  width: 70%;
  font-size: 24px;
  color: #363636;
}

.container-form div p {
  width: 100%;
}

.container-form h1 {
  text-align: left;
  margin-top: 4%;
  margin-bottom: 0;
  font-size: 32px;
  color: #363636;
}

.container-form form {
  flex-direction: column;
}

.container-form form input {
  font-family: roboto;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #F8F8F8;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  border: none;
}

textarea {
  background-color: #F8F8F8;
  border: none;
  resize: none;
  margin: 8px 0;
  padding: 12px 15px;
  width: 100%;
  box-sizing: border-box;
}

button {
  box-sizing: border-box;
  background-color: #363636;
  text-transform: uppercase;
  border: none;
  color: white;
  width: 100%;
  height: 3em;
  font-size: 1em;
  margin: 8px 0;
  padding: 12px 15px;
  font-family: Montserrat;
}

button:hover {
  background-color: #3CB371;
  color: #363636;
}

/*# sourceMappingURL=contact.css.map */
